.App-addresumeform {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-section label {
    font-weight: bold;
}

.form-section input,
.form-section textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline:none;
}
.form-section input:focus,
.form-section textarea:focus{
    border: 1px solid var(--rouge);
}

.form-section input::placeholder,
.form-section textarea::placeholder {
    color: #aaa;
}
.App-addresumeform button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--linear-bg-black);
    border-radius: 0.5rem;
    border: none;
    color: white;
    font-weight: 400;
    padding: 1rem;
    margin-top: 1rem;
}
.App-addresumeform button:hover{
    background: var(--linear-bg-blackhover);
}